{
  "presets": [
    ["env", {
      "targets": {
        "modules": false,
        "esmodules": true
      }
    }],
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ]
}